
@font-face {
    font-family: barlow-condensed-light;
    src: url("/fonts/barlowsemicondensed-light.otf");
}
@font-face {
    font-family: basis33; 
    src: url("/fonts/basis33.ttf");
}
@font-face {
    font-family: hiragino-sans; 
    src: url("/fonts/HiraginoSans.ttc");
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
//border: dotted 1px gray;
font-family: basis33;
color: rgb(78, 78, 78);
//transition: 0.3s ease-in-out;
}

@mixin center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 100vw;
}

.container {
    display: grid;
    background-color:rgba(170, 247, 235, 0.94);
    grid-template-areas: 
    'nav header header header header header'
    'nav hello hello hello hello aside'
    'nav hello hello hello hello aside'
    'nav hello hello hello hello aside'
    'nav about about about about aside'
    'nav about about about about aside'
    'nav about about about about aside'
    'nav work work work work aside'
    'nav work work work work aside'
    'nav work work work work aside'
    'nav work work work work aside'
    'nav contact contact contact contact aside'
    'nav contact contact contact contact aside'
    'nav footer footer footer footer footer'
    'nav footer footer footer footer footer';
    grid-template-columns: repeat(6, 1fr);
    
}
header {   //header was assigned class "home" for the purpose of scrollIntoView() method
    grid-area: header;
    height: 20vh;
}

//navigation box and nested elements
nav {
    position: sticky;
    top: 0;
    grid-area: nav;
    padding-top: 100px;
    padding-left: 40%;
    height: 100vh;
    min-width: 180px;

    ul {
    display: flex;
    gap: 25px;
    flex-direction: column;

    li {
    list-style: none;

    .nav-link { 
    text-decoration: none;
    text-transform: uppercase; 
    font-family: barlow-condensed-light;
    font-size: 1.2em; 
    cursor: pointer; 
    transition: 0.3s; 
    &::before{
      filter: opacity(0);
      content: "";
      font-size: 8px;
      border: solid 8px rgb(77, 77, 77);
      border-radius: 100%;
      padding: 0 5px;
      position: relative;
      left: -10px;
      top: -5px;
      transition: 0.1s;
    }
    &:hover {
        letter-spacing: 2px;
    }
 }

  [aria-current] {
     &::before {
        filter: opacity(1);
    }
   }
 }
}   
}

#close {
    display: none;
}

// symbols, ornaments, interactive elements: 

.guideY {
   z-index: 55;
    position: absolute;
    display: inline-block;
    height: 400vh;
    cursor: grab;
    background:blue;
    width: 0.5px;
    top: 0;
    left: 600px;
    transform: translate(50%, 0%);
    &:hover {
        background: red;
    }
    &:active{
        cursor: grabbing;
    }  
    .guideY-origin {
    position: relative;
    top: 400px;
    display: inline-block;
    width: 7px;
    aspect-ratio: 1;
    background: rgb(192, 70, 70);
    border-radius: 100%;
    transform: translate(-50%, -50%);
  }
}

.guideX {
    z-index: 55;
    position: absolute;
    width: 100vw;
    cursor: grab;
    background:blue;
    height: 0.5px;
    top: 265px;
    transform: translate(0%, 50%);
    &:hover {
        background: red;
    }
    &:active{
        cursor: grabbing;
    }
   .guideX-origin {
    position: relative;
    top: 0;
    display: inline-block;
    left: 400px;
    height: 7px;
    aspect-ratio: 1;
    background: rgb(192, 70, 70);;
    border-radius: 100%;
    transform: translate(-50%, -100%);
   } 
}


//actual information:

section.home {
    grid-area: hello;
    padding-top: 10%;
    padding-left: 5%;
    height: 80vh;
    h1 {
        font-family: hiragino-sans;
        font-size: 300%;
        //letter-spacing: .5px;
    }
}

.about {
    grid-area: about;
    height: 100vh;
    padding-left: 5%;
    padding-top: 100px;
    font-size: 1.2em;
    h2 {
        font-family: hiragino-sans;
    }
}
.work {
    grid-area: work;
    height: 100vh;
    transform-style: "preserve-3d";
    h2 {
        font-family: hiragino-sans;
        padding-left: 55px;
    }
    
  .work-top {
      @include center-aligned;
      inset: 0;
      font-size: 100px;
      height: 100%;
      transform: translateZ(200px);
  }
  .work-base {
    @include center-aligned;
    font-size: 100px;
    inset: 0;
    height: 100%;
    background: rgba(255, 192, 203, 0.173);
  }
}

.contact {
    grid-area: contact;
    height: 70vh;
}
aside {
    grid-area: aside;
    height: 75vh;
}
footer {
    grid-area: footer;
    height: 30vh;
  .attribution {
    display: inline-block;
    position: relative;
    margin: 0 auto;
  }  
}



@media screen and (max-width: 1024px) {

    .container {
    grid-template-areas: 
    'nav header header header '
    'nav hello hello aside'
    'nav hello hello aside'
    'nav hello hello aside'
    'nav about about aside'
    'nav about about aside'
    'nav about about aside'
    'nav work work aside'
    'nav work work aside'
    'nav work work aside'
    'nav work work aside'
    'nav contact contact aside'
    'nav contact contact aside'
    'nav footer footer footer'
    'nav footer footer footer';
    grid-template-columns: repeat(4, 1fr);
    }

    .about {
    padding-top: 0;
    }
    

}

@media screen and (max-width: 768px){

 .container {
   display: flex;
   flex-direction: column;
    }
    nav {
    z-index: 66;
    display: none;
    position: fixed;
    height: 50vh;
    width: 100vw;
    background:rgba(240, 240, 240, 0.849);
   }
   ul {
    gap: 50px;
    }
    #close {
        display: inline-block;
        font-size: 100px;
        position: absolute;
        top: 4px;
        right: 43px;
        cursor: pointer;
        transform: rotateZ(45deg);
    }

    section.home {
        padding-top: 0;
        padding: 0 12%;
    }
    .about {
        padding-left: 0;
        padding: 0 12%;
        margin: 0 auto;
    }

    #ham {
        z-index: 77;
        position: fixed;
        height: 60px;
        aspect-ratio: 1;
        border-radius: 100%;
        border: solid 18px rgba(0, 0, 0, 0.659);
        top: 20px;
        right: 20px;
        cursor: pointer;
        &:hover {
        border: solid 14px rgb(37, 37, 37);
        background: rgb(37, 37, 37);
        &::before {
            content: "nav";
            color: white;
            font-size: 20px;
        }
        }
    }



}
