@font-face {
  font-family: algereya-sans-thin;
  src: url("/fonts/alegreya-sans-sc/AlegreyaSansSC-Thin.ttf");
}

@font-face {
  font-family: algereya-sans-light;
  src: url("/fonts/alegreya-sans-sc/AlegreyaSansSC-Light.ttf");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
}

header {
  position: -webkit-sticky;
  position: sticky;
  height: 20vh;
  background: rgba(187, 149, 155, 0.548);
  padding: 2em 0;
}

.logo {
  width: 100px;
  aspect-ratio: 1;
  display: block;
  margin: 0 auto;
  fill: #5e5e5e;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: gainsboro;
  padding: 4em;
  height: 80vh;
  background-image: url("/images/clouds.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.line {
  display: inline-block;
  z-index: 9;
  position: absolute;
  top: 50%;
  border-bottom: dotted 2px white;
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.line::before {
  position: absolute;
  content: "";
  border-bottom: dotted 2px white;
  -webkit-transform: rotateZ(-67deg);
          transform: rotateZ(-67deg);
  left: 1em;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.line::after {
  position: absolute;
  content: "";
  border-bottom: dotted 2px white;
  -webkit-transform: rotateZ(-67deg);
          transform: rotateZ(-67deg);
  right: 1.5em;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.dev {
  font-family: algereya-sans-thin;
  position: absolute;
  display: block;
  top: 40%;
  left: 20%;
  cursor: pointer;
  width: 48%;
  aspect-ratio: 1;
  border-radius: 100%;
  background: rgba(226, 132, 132, 0.514);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: white;
  font-size: 3em;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.dev::before {
  content: "dev";
  position: relative;
  top: 20%;
  left: 10%;
}

.dev:hover {
  z-index: 999;
  width: 49%;
  left: 19%;
}

.art {
  font-family: algereya-sans-thin;
  position: absolute;
  right: 20%;
  top: 50%;
  display: block;
  cursor: pointer;
  width: 48%;
  aspect-ratio: 1;
  border-radius: 100%;
  background: rgba(140, 190, 247, 0.486);
  color: white;
  font-size: 3em;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.art::before {
  content: "art";
  position: relative;
  top: 40%;
  left: 45%;
}

.art::before:hover {
  display: none;
}

.art:hover {
  z-index: 999;
  width: 49%;
  right: 19%;
}

.dev-content {
  height: 100vh;
  background-color: #977177;
  color: #d6e4f7;
  font-size: 2.5em;
  padding: 20% 30% 10% 10%;
}

.art-content {
  height: 100vh;
  background-color: #537286;
  color: #f7d6ed;
  font-size: 2.5em;
  padding: 20% 10% 10% 30%;
}

footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  background: #1d1d1d;
}

@media (min-width: 666px) {
  .line {
    padding: 0 25%;
  }
  .logo {
    fill: #868686;
  }
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .dev,
  .art {
    width: 20%;
    font-size: 2.8em;
  }
  .dev {
    top: 30%;
  }
  .dev::before {
    left: 20%;
  }
}

@media (min-width: 850px) {
  .dev {
    background: rgba(204, 83, 67, 0.281);
    font-size: 2.5em;
    top: 50%;
  }
  .dev:hover {
    z-index: 999;
    width: 35%;
    left: 20%;
    top: 40%;
  }
  .art {
    background: rgba(140, 190, 247, 0.486);
    top: 50%;
    font-size: 2.5em;
  }
  .art:hover {
    z-index: 999;
    width: 35%;
    right: 20%;
  }
  .line {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    top: 61%;
  }
  .line::before {
    padding: 0 7%;
  }
  .line::after {
    padding: 0 7%;
  }
}

@media (min-width: 1024px) {
  header {
    height: 5%;
  }
  .logo {
    width: 5%;
  }
  main {
    height: 90vh;
  }
  .dev {
    top: 40%;
  }
  .dev::before {
    top: 120px;
    left: 10%;
  }
  .art::before {
    top: 80px;
    left: auto;
    right: -50%;
  }
  .line {
    left: 21.5%;
    padding: 0 27%;
  }
}
/*# sourceMappingURL=index.css.map */