
@forward 'fonts';
@use 'mixins';
@forward 'container';
@forward 'nav';
@forward 'headings';
@forward 'guides';
@forward './sections/top';
@forward './sections/work';
@forward './sections/about';
@forward './sections/contact';
@forward './sections/footer';

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: basis33;
color: rgb(78, 78, 78);
}

::-moz-selection {
 color: rgb(80, 78, 190);
 background: transparent;
}

::selection {
  color: rgb(80, 78, 190);
  background: transparent;  
}

body {
    width: 100vw;
}

aside {
    font-size: 2vw;
}


