$logo-fill: rgb(94, 94, 94);
$shady-pink: rgb(151, 113, 119);
$blue-tinted: rgb(214, 228, 247);
$shady-blue: rgb(83, 114, 134);
$pink-tinted: rgb(247, 214, 237);

@font-face {
    font-family: barlow-condensed-light;
    src: url("/fonts/barlowsemicondensed-light.otf");
}
@font-face {
    font-family: basis33; 
    src: url("/fonts/basis33.ttf");
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
border: dotted 1px gray;
font-family: basis33;
color: rgb(78, 78, 78);
//transition: 0.3s ease-in-out;
}
body {
    width: 100vw;
}
.container {
    display: grid;
    background-color:rgba(170, 247, 235, 0.94);
    grid-template-areas: 
    'nav header header header header header'
    'nav logo hello hello hello aside'
    'nav logo hello hello hello aside'
    'nav logo hello hello hello aside'
    'nav logo about about about aside'
    'nav logo about about about aside'
    'nav logo about about about aside'
    'nav work work work work aside'
    'nav work work work work aside'
    'nav work work work work aside'
    'nav work work work work aside'
    'nav contact contact contact contact aside'
    'nav contact contact contact contact aside'
    'nav footer footer footer footer footer'
    'nav footer footer footer footer footer';
    grid-template-columns: repeat(6, 1fr);
    
}
header{
    grid-area: header;
    height: 25vh;
    //background:rgba(247, 214, 237, 0.555);
}
nav {
    position: sticky;
    top: 0;
    grid-area: nav;
    padding-top: 100px;
    padding-left: 50%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    height: 100vh;
    min-width: 180px;
    
}
input {
    appearance: none;
    cursor: pointer;
    &::after {
        text-transform: uppercase; 
        font-family: barlow-condensed-light;
        content: attr(label);
        border-radius: 100%;
        position: relative;
        font-size: 1em;   
    }
    &::before{
      filter: opacity(0);
      content: "";
      font-size: 7px;
      border: solid 7px gray;
      border-radius: 100%;
      padding: 0 4px;
      position: relative;
      left: -10px;
      top: -3px;
    }
    &:checked{
      &::before{
          filter: opacity(1);
          
      }
    }
}
#logo {
    grid-area: logo;
    font-size: 75px;
    color: rgba(124, 124, 124, 1);
    padding-top: 50px;
    min-width: 180px;
    text-align: right;
    height: 75vh;
    //background:rgba(251, 255, 189, 0.555);
    font-family: 'Trebuchet MS';
}
.hello {
    grid-area: hello;
    padding-top: 140px;
    padding-left: 5%;
    height: 75vh;
    font-size: 28px;
}
#slashes {
    position: absolute;
    z-index: -1;
    font-size: 100px;
    color: gray;
    font-family: 'Trebuchet MS';
    top: 14%;
    left: 40%;
    transform: rotateZ(90deg);
}
.about {
    grid-area: about;
    height: 100vh;
    padding-left: 5%;
    padding-top: 100px;
    font-size: 1.2em;
}
.work {
    grid-area: work;
    height: 100vh;
    display: flex;
}
.contact {
    grid-area: contact;
    height: 50vh;

}
aside {
    grid-area: aside;
    height: 75vh;
}
footer {
    grid-area: footer;
    height: 50vh;
}



